body {
    position: relative;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: $lightGrey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}